body{margin:0; padding:0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
body.manual{background:#f0f0f0;}
body.manual h1{font-size:2em; border-bottom:1px solid #CCC; padding: 0 0 10px 0}
a, a:hover{color:#4a4a4a}
ul, ol{list-style: none;}
dd{margin-bottom:10px;}
input.form-control::-webkit-input-placeholder{font-style: italic; text-align: center;}
input.form-control::-moz-placeholder{font-style: italic; text-align: center}
input.form-control:-ms-input-placeholder{font-style: italic; text-align: center}

.truncate{
  display: block; /* non-webkit style */
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fl{float:left;}
.fr{float:right;}
.shadow{box-shadow:0 1px 5px #888888;}
.upper{text-transform: uppercase;}
.lower{text-transform: lowercase;}
.box-help{/*border-bottom:2px solid #EEE;*/ min-height: 140px; margin-top:20px; color:#4a4a4a; position: relative;}
/*.box-help:hover{background:linear-gradient(#FFF, #f0f0f0);}*/
/*.box-help:hover i{opacity: .6}*/
.box-help a:hover{text-decoration: none; opacity: .8}
.box-help h2{color: #7c7c3f;}
.link-listagem{display: block;width: 100%;height: 100%;position:absolute; z-index: 10;text-indent:-99999px; outline: 0;}
.ver-todos{font-size:.8em; position:absolute; right:10px; bottom:10px; font-weight: bold;}
.fa{float:left; margin: 20px; font-size:5em; color:#7c7c3f;}

.header{background:linear-gradient(#FFF, #f0f0f0);text-align:center; padding: 60px;}
.header h1{font-size:3em;}
.header h2{margin:10px 0;}
.header .form-group{width:50%; margin: 0 auto;}
.boletins .header{margin-bottom:20px;}

/** lista de manuais **/
.lista-manual{font-size:12pt;margin: 0;padding: 0; cursor:pointer; margin: 20px 0 0 0; list-style: none;}
.lista-manual > li{/*background: url(/maestro/imagens/manual_bullet.png) no-repeat 0 0;*/ color:#4f4f28; letter-spacing:1px; margin:0 0 10px 0;}
.lista-manual > li span{border-bottom: 1px solid #4f4f28;height: 25px;width: 98%;margin:0 0 0 20px;padding:10px 0 25px 0; display:inline-block;}
.lista-manual > li span .fa{font-size:1.5em; margin:-2px 10px 0 0; padding:0;}
.lista-manual ol{margin:5px 0 0 0; display: none;}
.lista-manual a, .lista-manual ol li{font-size:.9em;letter-spacing: 0;}
.lista-manual .data-download{font-size:.9em; letter-spacing: 0; font-weight: normal}

/** manual íntegra **/
.conteudo-manual{background:#FFF; padding: 20px; margin:20px 0 20px 0;}
.conteudo-manual figure{width: 100%; margin: 0 0 10px 0;}
.conteudo-manual figure .ilustra-tela{width: 100%}
.manual section {border-right: 1px solid #CCC;}
.manual aside h4{font-size: 1.1em; color:#4a4a4a; border-bottom:1px solid #CCC; padding:0 0 10px 0; margin:34px 0 0 0}
.manual aside ol{padding: 0; margin: 0;}
.manual aside ol li{border-bottom:1px solid #EEE; padding:10px 0 10px 10px; margin:10px 0 -10px 0; transition: .3s}
.manual aside ol li:hover{background:#EEE; transition: .3s}
.manual aside ol li:hover a{text-decoration: none; }

/* cards */
.cards{padding:20px; max-height:210px; position: relative;}
.detail{position: absolute; border-bottom:3px solid #7c7c3f; bottom: 0; left:0px; display:block; width: 0%; transition: .2s}
.box-help:hover, .cards:hover{box-shadow:0 1px 5px #888888; transition: .4s}
.box-help:hover .detail, .cards:hover .detail{width: 100%; transition: .4s;}
.cards h2{font-size:1.5em; margin:0; padding:0; color:#7c7c3f}
.cards .fa{font-size: 1em; margin: 0 10px 0 0; padding: 0}
.cards small{display: block; margin: 5px 0; color:#999}
.cards .btn-default:hover{background: #7c7c3f; color: #FFF; transition: .3s}

/** fab button **/
.fab-container {
    margin: 1em;
    position: fixed;
    right: 0;
    bottom: 0px;
    display: none
  }
.fab:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.12);
}
.top {
    background: #7c7c3f url(up.svg) center no-repeat;
}
.fab {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    position: relative;
    cursor: pointer;
    transition: .3s;
}


@media only screen and (min-width: 1024px) {
.fa{font-size:6em;}
}
@media only screen and (width: 1024px) {
h2{font-size:1.7em}
.cards{max-height:260px;}
.cards h2{font-size:1.2em;}
}
@media only screen and (max-width: 768px) {
.box-help{text-align:center; min-height: 200px;}
.box-help > *{float:unset; min-height: unset; position: unset; list-style:none;}
.box-help > ul,.box-help > ul li{margin: 0;padding:0}
.box-help h2{margin:0;}
.header h1{font-size:2.3em;}
.logo-maestro{width:50%;}
.header .form-group{width:100%;}
.header p{font-size:.9em}
.header p br{display:none}
.lista-manual > li{font-size:.9em; letter-spacing: 0;}
.manual section{border: none;}
.manual aside{display: none;}
}
